@import './normalize';

:root {
  --black: #050505;
  --gray-1: #333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #999;
  --gray-5: #bdbdbd;
  --gray-6: #e0e0e0;
  --white: #f9f9f9;

  --black-contrast: var(--white);
  --gray-1-contrast: var(--white);
  --gray-2-contrast: var(--white);
  --gray-3-contrast: var(--white);
  --gray-4-contrast: var(--black);
  --gray-5-contrast: var(--black);
  --gray-6-contrast: var(--black);
  --white-contrast: var(--black);

  --red: #eb5757;
  --orange: #f2994a;
  --yellow: #f2c94c;
  --dark-green: #219653;
  --green: #27ae60;
  --light-green: #6fcf97;
  --dark-blue: #2f80ed;
  --blue: #2d9cdb;
  --light-blue: #56ccf2;
  --dark-purple: #9b51e0;
  --purple: #bb5bd9;
}

.light {
  --background-color: var(--white);
  --text-color: var(--black);
}

.dark {
  --background-color: var(--black);
  --text-color: var(--white);
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: Roboto, Source sans pro, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

.grayscale table {
  td {
    padding: .5em .75em;
  }
  tr:nth-child(1) {
    td:nth-child(2) {
      color: var(--black);
      background-color: var(--black-contrast);
    }
    td:nth-child(3) {
      color: var(--gray-1);
      background-color: var(--gray-1-contrast);
    }
    td:nth-child(4) {
      color: var(--gray-2);
      background-color: var(--gray-2-contrast);
    }
    td:nth-child(5) {
      color: var(--gray-3);
      background-color: var(--gray-3-contrast);
    }
    td:nth-child(6) {
      color: var(--gray-4);
      background-color: var(--gray-4-contrast);
    }
    td:nth-child(7) {
      color: var(--gray-5);
      background-color: var(--gray-5-contrast);
    }
    td:nth-child(8) {
      color: var(--gray-6);
      background-color: var(--gray-6-contrast);
    }
    td:nth-child(9) {
      color: var(--white);
      background-color: var(--white-contrast);
    }
  }
  tr:nth-child(2) {
    td:nth-child(2) {
      background-color: var(--black);
      color: var(--black-contrast);
    }
    td:nth-child(3) {
      background-color: var(--gray-1);
      color: var(--gray-1-contrast);
    }
    td:nth-child(4) {
      background-color: var(--gray-2);
      color: var(--gray-2-contrast);
    }
    td:nth-child(5) {
      background-color: var(--gray-3);
      color: var(--gray-3-contrast);
    }
    td:nth-child(6) {
      background-color: var(--gray-4);
      color: var(--gray-4-contrast);
    }
    td:nth-child(7) {
      background-color: var(--gray-5);
      color: var(--gray-5-contrast);
    }
    td:nth-child(8) {
      background-color: var(--gray-6);
      color: var(--gray-6-contrast);
    }
    td:nth-child(9) {
      background-color: var(--white);
      color: var(--white-contrast);
    }
  }
}



.colors table {
  td {
    padding: .5em .75em;
  }
  tr:nth-child(1) {
    td:nth-child(2) {
      color: var(--red);
    }
    td:nth-child(3) {
      color: var(--orange);
    }
    td:nth-child(4) {
      color: var(--yellow);
    }
    td:nth-child(5) {
      color: var(--dark-green);
    }
    td:nth-child(6) {
      color: var(--green);
    }
    td:nth-child(7) {
      color: var(--light-green);
    }
    td:nth-child(8) {
      color: var(--dark-blue);
    }
    td:nth-child(9) {
      color: var(--blue);
    }
    td:nth-child(10) {
      color: var(--light-blue);
    }
    td:nth-child(11) {
      color: var(--dark-purple);
    }
    td:nth-child(12) {
      color: var(--purple);
    }
  }
  tr:nth-child(2) {
    td:nth-child(2) {
      background-color: var(--red);
    }
    td:nth-child(3) {
      background-color: var(--orange);
    }
    td:nth-child(4) {
      background-color: var(--yellow);
    }
    td:nth-child(5) {
      background-color: var(--dark-green);
    }
    td:nth-child(6) {
      background-color: var(--green);
    }
    td:nth-child(7) {
      background-color: var(--light-green);
    }
    td:nth-child(8) {
      background-color: var(--dark-blue);
    }
    td:nth-child(9) {
      background-color: var(--blue);
    }
    td:nth-child(10) {
      background-color: var(--light-blue);
    }
    td:nth-child(11) {
      background-color: var(--dark-purple);
    }
    td:nth-child(12) {
      background-color: var(--purple);
    }
  }
}